@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .social-media-icon {
        @apply text-white hover:text-gray-400 transition-colors ease-linear;
    }
}

#hero-container {
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/hero-image.jpg');
    background-position: center;
    background-size: cover;
    font-family: 'Merriweather', serif;
}

nav a::after {
    content: '';
    height: 1px;
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: all 0.2s linear;
}

nav a:hover::after {
    width: 100%;
}

.play-video-btn {
    border-radius: 50%;
    animation: grow 4s infinite ease-in-out;
    transition: .3s;
}

.play-video-btn:hover {
    background-color: #dfdfdf;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.team-contact {
    transform: translateY(100%);
}

.image-container:hover .team-contact {
    transform: translateY(0%);
}

.image-container img {
    transition: transform 0.2s ease;
}

.image-container:hover img {
    transform: scale(1.07);
}

/* HAMBURGER BUTTON */

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    width: 24px;
    height: 2px;
    top: 0;
    left: 0;
    background: #fff;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* STYLE ACCORDIONS FOR FAQ */
label::before {
    content: '+';
    margin-right: 12px;
    font-weight: bolder;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s linear;
}

input[type="radio"]:checked + label + .content {
    max-height: 400px;
}

input[type="radio"]:checked + label {
    color: rgb(255, 98, 0);
    transition: color 0.2s linear;
}

input[type="radio"]:checked + label::before {
    content: '-';
}

/* TESTIMONIALS STYLING */
.client-image-container {
    border-radius: 50%;
}

#previous,
#next {
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    transition: backgorund-color 0.3s linear;
}

#previous:hover,
#next:hover {
    background-color: rgb(233, 233, 233);
}

#previous {
    left: 10px;
}

#next {
    right: 10px;
}

.client-container {
    flex: 1 0 100%;
}

@media screen and (max-width: 500px) {
    .info-span{
        display: none;
    }
}