@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .social-media-icon {
        @apply text-white hover:text-gray-400 transition-colors ease-linear;
    }
}

#hero-container {
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/hero-image.jpg');
    background-position: center;
    background-size: cover;
    font-family: 'Merriweather', serif;
}

nav a::after {
    content: '';
    height: 1px;
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: all 0.3s linear;
}

nav a:hover::after {
    width: 100%;
}



@media screen and (max-width: 500px) {
    .info-span{
        display: none;
    }
}